# Dependencies
node_modules/
.pnpm-store/

# Local binaries & tools
bin/

# Production builds
dist/
build/

# Local env files
.env
.env.local
.env.*.local

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

